<!doctype html>
<html>
<head>
    <title>RemoveMyWaste</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="form.css">
    <link id="dark" rel="stylesheet" href="">

    <link rel="icon" type="image/png" href="iconLambda.png" />
    <meta charset="utf-8">
    <script type="text/javascript" src="/theme.js" async></script>

</head>
    <body>



<div class="popstripe"></div>
    <div class="style">
        <span class="dot">·</span>
        <button id="lightswitch" class="light" type="button">·</button>
        <span class="dot">·</span>
        <button id="darkswitch" class="dark" type="button">·</button>
        <span class="dot">·</span>
    </div>
<div id="wrapper">
    <div class="top">
  <div class="search-container">

    <form id="search" action="/search" method="get"
        <label>
            <input name="search" class="search" type="text" placeholder="Search">
        </label>
    </form>
    </div>
</div>



<h1 class="title"><a href="/">RemoveMyWaste</a></h1>
    <p>~ database testing ~</p>



<br />
        {{{body}}}


<div id="footer">
<footer>
<ul>
    <li><a href="/docs">Made with lots of <object type="image/svg+xml" data="/heart.svg"></object></a> .:. <a href="https://github.com/cs361-group24"> open-source and free</a></li>

<li class="poem"><pre>"...you must look within yourself to save yourself from your other self. Only then will your true self reveal itself." -Zuko</pre></li>


</ul>
</footer>
</div>
</div>


<div class="popstripe-bw"></div>
    </body>
</html>

<script src="align.js"></script>
<script src="jquery.min.js"></script>
